form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 80px;
}

form > textarea {
    border: 1px solid #4C3868;
    border-radius: 6px;
    margin-bottom: 30px;
    width: 100%;
}

form > button {        
    background-color: #0050C3;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 8px; 
    border: 0.5px solid white;   
}

form > button:hover {
    background-color: #8FDFD3;
    color: #4C3868;
    cursor: pointer;
    border: 0.5px solid #0050C3;
}

form > button:disabled {
    background-color: lightgray;
}

form > button:disabled:hover {
    background-color: lightgray;
    color: white;
    border: 0.5px solid white;
    cursor: default;
}

form textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

form span.error {
    color: red;
    margin-bottom: 30px;
}
