<section class="login">
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <h2>Login</h2>
        <div>
            <label for="email">Email</label>
            <input 
                type="text" 
                id="email" 
                name="email" 
                placeholder="example@gmail.com"
                formControlName="email"                
            >
            <span class="error" *ngIf="!signinForm.get('email')?.valid && signinForm.get('email')?.touched">Please
                enter a valid email!</span>
        </div>
        <div>
            <label for="password">Password</label>
            <input 
                type="password" 
                id="password" 
                name="password" 
                formControlName="password"               
            >
            <span class="error" *ngIf="!signinForm.get('password')?.valid && signinForm.get('password')?.touched">
                Password is required!                
            </span>
        </div>        

        <button 
            type="submit" 
            [disabled]="!signinForm.valid"
        >
            Login
        </button>
        
        <p>You don't have an account? Register <a routerLink="/register">here</a></p>
    </form>
</section>
