<section class="login">
    <form action="">
        <h2>Login</h2>
        <div>
            <label for="email">Email</label>
            <input 
                type="text" 
                id="email" 
                name="email" 
                placeholder="example@gmail.com"
                #inputEmail
            >
        </div>
        <div>
            <label for="password">Password</label>
            <input 
                type="password" 
                id="password" 
                name="password"
                #inputPassword
            >
        </div>        

        <input type="submit" value="Login" (click)="login(inputEmail.value, inputPassword.value)">
    </form>
</section>
