<section class="comments-section">
    <h2>Comments</h2>

    <app-add-comment *ngIf="isLogged && !isOwner" (onCommentAdd)="onCommentAdd($event)" />

    <div *ngIf="comments.length > 0" class="comments">
        <div *ngFor="let comment of comments" class="comment">
            <p class="comment-content">{{comment.content}}</p>
            <div class="divider"></div>
            <p class="post-author">Posted by: {{comment._ownerId.email}}</p>
        </div> 
    </div> 
    
    <div *ngIf="comments.length === 0">
        <p class="no-comments">There are no comments yet for this hike.</p>
    </div>
</section>