<section class="comments-section">
    <h2>Comments</h2>

    <app-add-comment />

    <div class="comment">
        <p class="comment-content">Some comment from one of the users. Some comment from one of the users. Some comment from one of the users.
            Some comment from one of the users. Some comment from one of the users. Some comment from one of the users.
            Some comment from one of the users.</p>
        <div class="divider"></div>
        <p class="post-author">Posted by: tanya@gmail.com</p>
    </div>

    <div class="comment">
        <p class="comment-content">Some comment from one of the users. Some comment from one of the users. Some comment from one of the users.
        </p>
        <div class="divider"></div>
        <p class="post-author">Posted by: tanya@gmail.com</p>
    </div>

    <div class="comment">
        <p class="comment-content">Some comment from one of the users</p>
        <div class="divider"></div>
        <p class="post-author">Posted by: tanya@gmail.com</p>
    </div>
</section>