section.all-hikes {
    display: flex;
    justify-content: center;
    margin: 100px auto;
}

section.all-hikes .hikes-container {
    width: 90%;
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
}