<div class="modal-backdrop" (click)="onClose()">
    <app-spinner *ngIf="isLoading" />

    <div *ngIf="!isLoading" class="modal">
        <div *ngIf="errorMessage" class="deleteError">
            <p>{{errorMessage}}</p>
        </div>

        <h2>Are you sure you want to delete this post?</h2>
        <div class="modal-buttons">
            <button class="btn-cancel" (click)="onClose()">Cancel</button>
            <button class="btn-confirm" (click)="onDelete()">Yes</button>
        </div>
    </div>
</div>
