<section class="edit-post">
    <form action="">
        <h2>Edit post</h2>
        <div class="inputs">
            <div class="left-inputs">
                <div>
                    <label for="peak-name">Peak name</label>
                    <input type="text" id="peak-name" name="peak-name">
                </div>
                <div>
                    <label for="mountain">Mountain</label>
                    <input type="text" id="mountain" name="mountain">
                </div>
                <div>
                    <label for="country">Country</label>
                    <input type="text" id="country" name="country">
                </div>
                <div>
                    <label for="duration">Duration</label>
                    <input type="text" id="duration" name="duration">
                </div>
                <div>
                    <label for="latitude">Latitude</label>
                    <input type="number" id="latitude" name="latitude" step=".01">
                </div>
                <div>
                    <label for="longitude">Longitude</label>
                    <input type="number" id="longitude" name="longitude" step=".01">
                </div>                              
            </div>
            <div class="right-inputs">
                <div>
                    <label for="desc">Description</label>
                    <textarea name="desc" id="desc" cols="30" rows="15"></textarea>
                </div>                                
            </div>
        </div>

        <input type="submit" value="Edit post">
    </form>
</section>

