<section class="gallery">
    <div class="content-container">
        <h2>Gallery - Peak Canin</h2>
        <h3>Julian Alps - Slovenia</h3>
        <p class="duration">Duration: 3 hours</p>
        <div class="divider"></div>
        <p class="post-author">Posted by: tanya@gmail.com</p>       
    </div>

    <div class="photos-container">
        <div class="photo-container">
            <img src="../../assets/1.jpg" alt="">
        </div>
        <div class="photo-container">
            <img src="../../assets/2.jpg" alt="">
        </div>
        <div class="photo-container">
            <img src="../../assets/3.jpg" alt="">
        </div>
        <div class="photo-container">
            <img src="../../assets/4.jpg" alt="">
        </div>
        <div class="photo-container">
            <img src="../../assets/5.jpg" alt="">
        </div>
        <div class="photo-container">
            <img src="../../assets/6.jpg" alt="">
        </div>
    </div>
</section>
