<section class="gallery" *ngIf="!isLoading">
    <div class="content-container">
        <h2>Gallery - {{post.name}}</h2>
        <h3>{{post.mountain}} - {{post.country}}</h3>
        <p class="duration">Duration: {{post.duration}}</p>
        <div class="divider"></div>
        <div class="after-divider">
            <app-likes [totalLikes]="post.likes.length" />
            <div>
                <p class="post-author">Posted by: {{post._ownerId.email}}</p>
                <p class="elapsed-time">{{post.createdAt | elapsedTime}}</p>
            </div>
        </div>
    </div>

    <div class="photos-container">
        <div class="photo-container" *ngFor="let photo of post.photos">
            <img src={{photo}} alt="mounitain-photo">
        </div>        
    </div>
</section>

<section class="gallery" *ngIf="isLoading">
    <app-spinner />
</section>