<section class="hike-details" *ngIf="!isLoading">   

    <app-weather 
        [currentWeather]="currentWeather" 
        [forecastWeather]="forecastWeather" 
        [post]="post" 
        [errorInWeatherService]="errorInWeatherService"
    />

    <div class="main-container">
        <div class="image-section">
            <div class="image-container">
                <img src={{post.photos[0]}}
                    alt="mountain-peak" />
            </div>
            <a 
                [routerLink]="['/hikes', post._id, 'gallery']" 
                class="btn-view-gallery"
                *ngIf="isLogged"
            >
                View Gallery
            </a>
        </div>

        <div class="content-container">
            <h2>{{post.name}}</h2>
            <h3>{{post.mountain}} - {{post.country}}</h3>
            <p class="duration">Duration: {{post.duration}}</p>
            <p class="location">Coordinates: latitude {{post.latitude}}, longitude {{post.longitude}}</p>
            <div class="divider"></div>
            <div class="after-divider">
                <app-likes [totalLikes]="totalLikes" />
                <p class="post-author">Posted by: {{post._ownerId.email}}</p>
            </div>
            <p class="description">
                <b>Hike description:</b> {{post.description}}
            </p>
            <div class="buttons-container" *ngIf="isLogged">
                <p *ngIf="errorLike" class="errorLike">{{errorLike}}</p>
                <p *ngIf="hasLiked && !isOwner">You already liked this hike!</p>
                <button *ngIf="!hasLiked && !isOwner" class="btn-like" (click)="onLike()"><span>Like</span><i class="fa-solid fa-heart"></i></button>
                <a *ngIf="isOwner" [routerLink]="['/hikes', post._id, 'edit']" class="btn-edit">Edit</a>
                <a *ngIf="isOwner" class="btn-delete" [routerLink]="['/hikes', post._id, 'delete']">Delete</a>
            </div>
        </div>
    </div>

    <app-comments (onNewCommentAdd)="onCommentAdd($event)" [comments]="comments" />
</section>

<section class="hike-details" *ngIf="isLoading">
    <app-spinner />
</section>