<section class="hike-details" *ngIf="!isLoading">
    <app-weather [currentWeather]="currentWeather" [forecastWeather]="forecastWeather" [post]="post" />

    <div class="main-container">
        <div class="image-section">
            <div class="image-container">
                <img src={{post.photos[0]}}
                    alt="mountain-peak" />
            </div>
            <a [routerLink]="['/hikes', 'details', post._id, 'gallery']" class="btn-view-gallery">View Gallery</a>
        </div>

        <div class="content-container">
            <h2>{{post.name}}</h2>
            <h3>{{post.mountain}} - {{post.country}}</h3>
            <p class="duration">Duration: {{post.duration}}</p>
            <p class="location">Coordinates: latitude {{post.latitude}}, longitude {{post.longitude}}</p>
            <div class="divider"></div>
            <div class="after-divider">
                <app-likes [totalLikes]="post.likes.length" />
                <p class="post-author">Posted by: {{post._ownerId.email}}</p>
            </div>
            <p class="description">
                <b>Hike description:</b> {{post.description}}
            </p>
            <div class="buttons-container">
                <p>You already liked this hike!</p>
                <a href="#" class="btn-like"><span>Like</span><i class="fa-solid fa-heart"></i></a>
                <a href="#" class="btn-edit">Edit</a>
                <button class="btn-delete">Delete</button>
            </div>
        </div>
    </div>

    <app-comments />
</section>

<section class="hike-details" *ngIf="isLoading">
    <app-spinner />
</section>