section.site-header {
    height: 10vh;
    background-color: #F27756;
    color: white;
    display: flex;
    flex-direction: row;       
}

header {
    display: flex;
    flex: 1 0 100%;   
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;    
}

header h1 {
    font-size: 40px;
}

header h1 a {
    text-decoration: none;
    color: white;
}

header ul {
    display: flex;
    gap: 30px;
    font-size: 22px;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: white;
}

header li:hover,
header a:hover {    
    cursor: pointer;
    text-decoration: underline; 
    transform: scale(1.1);         
}

header li.welcome {
    margin-right: 70px;
}

header li.welcome:hover {
    cursor: default;
    text-decoration: none;
    transform: scale(1);
}

@media (width <= 1200px) {
    section.site-header {
        height: auto;
    }

    header {
        flex-direction: column;
    }

    header ul {
        flex-direction: column;
        align-items: center;
    }

    header li.welcome {
        margin-right: 0px;
        text-align: center;
    }

    .site-title {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    header nav {
        margin-bottom: 30px;
    }
}