<article>
    <div class="image-wrapper">
        <img src={{post.photos[0]}} alt="mountain peak" />
    </div>

    <div class="content-container">
        <h2>{{post.name}}</h2>
        <h3>{{post.mountain}} - {{post.country}}</h3>
        <p class="duration">Duration: {{post.duration}}</p>
        <div class="divider"></div>
        <div class="hike-footer">
            <div class="likes-wrapper">
                <i class="fa-solid fa-heart"></i>
                <span class="number-of-likes">{{post.likes.length}}</span>
            </div>
            <p class="post-author">Posted by: {{post._ownerId.email}}</p>
        </div>
    </div>
</article>