section.all-hikes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    padding-top: 60px;
    padding-bottom: 40px;
    min-height: 80vh;
}

section.all-hikes h2 {
    font-size: 40px;
    color: #0050C3;    
}

app-hikes {
    width: 100%;
}

app-pager  {
    margin: 50px;
}
