section.all-hikes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px auto;
}

section.all-hikes h2 {
    font-size: 40px;
    color: #0050C3;
    margin-bottom: 50px;
}

section.all-hikes .hikes-container {
    width: 90%;
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.no-posts {
    color: #4C3868;
    font-size: 26px;
    font-weight: bold;
}