.hikes-container {
    margin: 0 auto;
    max-width: 86%;    
    display: flex;     
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}

.no-posts {
    color: #4C3868;
    font-size: 26px;
    font-weight: bold;
}
